In [1]:
#!pip install simfin

In [2]:
import pandas as pd
import simfin as sf

## API Settings

In [3]:
# Set your API-key for downloading data. 'free' key gets the free data (1 year old).
sf.set_api_key('free')

# Set the local directory where data-files are stored.
# The directory will be created if it does not already exist.
sf.set_data_dir('/Users/lukebetham/Documents/simfin_data')

#Region - Can currently be USA ('us') or Germany ('de')
region='us'

## Company id/name data

In [4]:
df_name = sf.load_companies(market=region)
df_name

Dataset "us-companies" on disk (6 days old).
- Loading from disk ... Done!

        SimFinId                      Company Name  IndustryId
Ticker
A          45846          AGILENT TECHNOLOGIES INC    106001.0
AA        367153                        Alcoa Corp    110004.0
AAC       939324                AAC Holdings, Inc.    106011.0
AAL        68568      American Airlines Group Inc.    100006.0
AAMC      847094  Altisource Asset Management Corp    104001.0
...          ...                               ...         ...
ZS        896477                     Zscaler, Inc.    101003.0
ZTS       378251                            Zoetis    106005.0
ZUMZ       45730                        Zumiez Inc    103002.0
ZYNE      901704     Zynerba Pharmaceuticals, Inc.    106002.0
ZYXI      171401                         ZYNEX INC    106004.0

[2359 rows x 3 columns]

## Industry Ids

In [5]:
df_industry = sf.load_industries()

Dataset "industries" on disk (6 days old).
- Loading from disk ... Done!

## Earnings data - Income Statement

In [6]:
# Download the data from the SimFin server and load into a Pandas DataFrame.
df_earnings = sf.load_income(variant='quarterly', market=region)
df_earnings.columns

Dataset "us-income-quarterly" on disk (0 days old).
- Loading from disk ... Done!

Index(['SimFinId', 'Currency', 'Fiscal Year', 'Fiscal Period', 'Publish Date',
       'Restated Date', 'Shares (Basic)', 'Shares (Diluted)', 'Revenue',
       'Cost of Revenue', 'Gross Profit', 'Operating Expenses',
       'Selling, General & Administrative', 'Research & Development',
       'Depreciation & Amortization', 'Operating Income (Loss)',
       'Non-Operating Income (Loss)', 'Interest Expense, Net',
       'Pretax Income (Loss), Adj.', 'Abnormal Gains (Losses)',
       'Pretax Income (Loss)', 'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income',
       'Net Income (Common)'],
      dtype='object')

## Balance Sheet data

In [7]:
df_bs = sf.load_balance(variant='quarterly', market=region)
df_bs.columns

Dataset "us-balance-quarterly" on disk (0 days old).
- Loading from disk ... Done!

Index(['SimFinId', 'Currency', 'Fiscal Year', 'Fiscal Period', 'Publish Date',
       'Restated Date', 'Shares (Basic)', 'Shares (Diluted)',
       'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property, Plant & Equipment, Net',
       'Long Term Investments & Receivables', 'Other Long Term Assets',
       'Total Noncurrent Assets', 'Total Assets', 'Payables & Accruals',
       'Short Term Debt', 'Total Current Liabilities', 'Long Term Debt',
       'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity'],
      dtype='object')

## Cashflow data

In [8]:
df_cash = sf.load_cashflow(variant='quarterly', market=region)
df_cash.columns

Dataset "us-cashflow-quarterly" on disk (0 days old).
- Loading from disk ... Done!

Index(['SimFinId', 'Currency', 'Fiscal Year', 'Fiscal Period', 'Publish Date',
       'Restated Date', 'Shares (Basic)', 'Shares (Diluted)',
       'Net Income/Starting Line', 'Depreciation & Amortization',
       'Non-Cash Items', 'Change in Working Capital',
       'Change in Accounts Receivable', 'Change in Inventories',
       'Change in Accounts Payable', 'Change in Other',
       'Net Cash from Operating Activities',
       'Change in Fixed Assets & Intangibles',
       'Net Change in Long Term Investment',
       'Net Cash from Acquisitions & Divestitures',
       'Net Cash from Investing Activities', 'Dividends Paid',
       'Cash from (Repayment of) Debt', 'Cash from (Repurchase of) Equity',
       'Net Cash from Financing Activities', 'Net Change in Cash'],
      dtype='object')

## Share Prices

In [10]:
df_p = sf.load_shareprices(variant='daily', market='us')
print(df_p.shape)
df_p.columns

Dataset "us-shareprices-daily" on disk (0 days old).
- Loading from disk ... Done!
(5905523, 9)

Index(['SimFinId', 'Open', 'Low', 'High', 'Close', 'Adj. Close', 'Dividend',
       'Volume', 'Shares Outstanding'],
      dtype='object')

## Industry averages

In [ ]:
pd.merge(df_name.reset_index(),df_industry,'left',)